.full-page{
    width: 100vw;
    height: calc(100vh - 50px);
    display: block;
}

.paginal-inicial-imagem{
    background-color: red;
}

.div-img{
    margin-top:calc((100vh - 50px)*0.1) ;
}

.imagem-inicial-pessoas{
    float:right;
}

.conteudo-paginal-inicial{
    display: flex;
}

.homepage-title{
    margin-top:calc((100vh)/2 - 200px);
}

.div-homepage-text{
    width: 70%;
    padding: 25px 0px 25px 0px;
}

.div-card{
    display: inline-block;
    width: calc( 50% );
    margin-left: 40px;
}

.div-card-buttons{
    display: flex;
}
.margin-left{
    margin-left: 40px;
}

.button-homepage{
    background-color: #008940;
    border-radius: 9px;
    cursor: pointer;
    text-align: center;
    height: 52px;
    width: 134px;
    color: #FFFFFF;
}


.button-homepage:hover{
    color: #FFFFFF;
    background-color: #143c7c;
    animation: colorTransition;
    animation-duration: 0.5s;
}

.text-button-homepage{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    padding-top: 15px;
}

@keyframes colorTransition {
    0% {
        background-color: #008940;
    }
    100% {
        background-color: #143c7c;
    }
}
