.full-page{
    width: 100vw;
    height: calc(100vh - 50px);
    display: block;
}

.paginal-inicial-imagem{
    background: rgba(0, 137, 64, 0.5);
    border-radius: 15px;
}

.div-img{
    margin-top:calc((100vh - 50px)*0.1) ;
}

.conteudo-paginal-inicial{
    display: flex;
}

.div-card{
    display: inline-block;
    width: calc( 50% );
}